<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>magnetar</title>
    </head>

    <body>
    <h4>Remote Hosts <a href="/webui/new_host">[new]</a></h4>
    <table>
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Fully Qualified Domain Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="host : ${hosts}">
                <td th:text="${host.displayName}">Name</td>
                <td th:text="${host.fqdn}">FQDN</td>
            </tr>
        </tbody>
    </table>

    <h4>Indexing runs</h4>
    <table>

    </table>
    </body>
</html>